.subreddit-title {
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}

.list-info {
  text-align: center;
  margin-top: 0.2em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 2em auto;
  max-width: 768px;
  @media (max-width: 768px) {
    margin: 2em 16px;
  }
}
